/* GENERAL */

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

body div, body header, body footer {
    border-bottom: 1px dashed black;
}

/* FIRST PART*/

header {
    display: grid;
    grid-template-columns: auto 85%;
    grid-template-rows: 100%;
    height: 120px;
}

header div#header-logo {
    background-image: url("../img/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

header div#title {
    background-color: #210439;
    color: white;
    text-align: center;
}

header div#title h1 {
    font-size: 2em;
    font-weight: bold;
}

/* SECOND PART */

div#links {
    height: 50px;
}

div#links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div#links ul li{
    display: block;
    float: left;
    background-color: #9376AC;
    color: white;
    text-align: center;
    font-size: 1.3em;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    margin: 1px;
}

/* THIRD PART */

div#pattern {
    background-image: url("../img/pattern.jpg");
    height: 100px;
    width: 100%;
}