/* GENERAL */

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

body div, body header, body footer {
    border-bottom: 1px dashed black;
}

/* FIRST PART*/

header {
    display: grid;
    grid-template-columns: auto 85%;
    grid-template-rows: 100%;
    height: 120px;
}

header div#header-logo {
    background-image: url("../img/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

header div#title {
    background-color: #210439;
    color: white;
    text-align: center;
}

header div#title h1 {
    font-size: 2em;
    font-weight: bold;
}

/* SECOND PART */

div#links {
    height: 50px;
}

div#links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div#links ul li{
    display: block;
    float: left;
    background-color: #9376AC;
    color: white;
    text-align: center;
    font-size: 1.3em;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    margin: 1px;
}

/* THIRD PART */

div#pattern {
    background-image: url("../img/pattern.jpg");
    height: 100px;
    width: 100%;
}

/* FOURTH PART */

div#central-image {
    height: 300px;
    width: 100%;
    overflow: hidden;
}

div#central-image img {
    width: 100%;
    top: -50%;
    position: relative;
}

/* FIFTH PART */

div#grades {
    height: 250px;
    width: 100%;
    background-color: #DCDCDC;
    text-align: center;
    display: grid;
}

div#grades h1 {
    font-size: 1.3em;
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 10px;
}

div#grades table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0px;
    border: 1px black solid;
    margin-bottom: 20px;
}

div#grades table thead tr {
    background-color: #704C8F;
}

div#grades table thead tr th {
    font-size: 1.3em;
    font-weight: bold;
    background-color: #704C8F;
    border-bottom: 4px solid black;
    border-right: 0px;
    padding: 5px;
}

div#grades table tbody tr td {
    padding: 10px;
}

div#grades table tbody tr:nth-child(odd) {
    background-color: #808080;
}

/* SIXTH PART */

div#brands {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 100%;
}

div#brands div {
    width: 100%;
    height: 100%;
    border: 1px solid #A0A0A0;
    box-sizing: border-box;
}

div#brands div img {
    width: 100%;
    opacity: 0.5;
    border: 1px black solid;
}